@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Hej</h2>
</div>
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
