.carousel .item {
    width:100%;
}

.carousel {
  margin:0 auto 60px;
}

#Login {
    margin-top: 5%;
    text-align: center !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*Ändrat färg på pushpin för meeting.*/
.glyphicon-pushpin-edit {
    color: red;
}

.navbar {
    border-radius: 0 !important;
}

.meeting-button {
    margin: 2px !important;
}

.glyphicon-plus-sign-edit {
    font-size: 1.8em !important;
}

.media-object{
    height: 55px;
    width: 55px;
}
.ul-sience {
    font-size: 0.9em !important;
}
