#Login {
    margin-top: 5%;
    text-align: center !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*Ändrat färg på pushpin för meeting.*/
.glyphicon-pushpin-edit {
    color: red;
}

/*Css för profilsidans info under profilbilden.*/
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}

.navbar {
    border-radius: 0 !important;
}
.btn {
    border-radius: 0px !important;
}

.meeting-button {
    margin: 2px !important;
}