
@{
    ViewBag.Title = "InformalBlog";
}

<h2>InformalBlog</h2>

<div id="Wall">

    @Html.Label("Write a blog post:") <br/>
    
    @Html.TextBox("TitleInput"); <br/>
    @Html.TextArea("WallInputText", new { rows = 5, cols = 80 })
    <input type="submit" value="Post" id="btnSend" />
</div>

<div>
    @Html.

</div>
