@using InformationsSystemOru.Extensions


@{
    ViewBag.Title = "InformalBlog";
    Layout = User.Identity.IsAdmin() ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>InformalBlog</h2>


<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            @if (Model.AllPostsForUser != null)
            {
                foreach (var post in Model.AllPostsForUser)
                {
                    <div class="well well-sm">
                        <h2>@post.Titel</h2>
                        <h3>@post.Category</h3>
                        <p>@post.Text</p>
                        <p>@post.Date</p>
                    </div>
                }
            }
        </div>

</div>
    </div>