@model InformationsSystemOru.Models.BlogModel
@using System.Security.Policy
@using Data_Access_Layer
@using InformationsSystemOru.Extensions

@{
    ViewBag.Title = "ScienceBlog";
    Layout = User.Identity.IsAdmin() ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}
<script src="~/scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        mode: "textareas",
        theme: "modern",
        plugins: "textcolor colorpicker",
        toolbar: "formatselect | bold italic underline | forecolor backcolor | bullist numlist",
        content_css: "~/Content/Site.css"
    });

    $(function () {
        $(".nav-tabs a").click(function () {
            $(this).tab('show');
        });
    });

    function RemoveComment(commendId) {
        $("#" + commendId).remove();
    }

    function ClearTextbox() {
        $("#tbComment").val("");
    }

</script>

<div class="row">

    <div class="page-header">
        <h1>Science <small>news and blog posts</small>
        </h1>
    </div>
    <hr />

    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul class="nav nav-tabs ul-sience">
                <li role="presentation" class="active">
                    <a href="#Ehalsa">
                        e-Hälsa
                    </a>
                </li>
                <li role="presentation"><a href="#ElectronicGoverment">Electronic Government</a></li>
                <li role="presentation"><a href="#Ict">ICT for development</a></li>
                <li role="presentation"><a href="#Itsakerhet">Informationssäkerhet</a></li>
                <li role="presentation"><a href="#Itlarande">IT för lärande</a></li>
                <li role="presentation"><a href="#Sysutveckling">Systemutvecklingsmetoder</a></li>
            </ul>
        </div>
        <div class="tab-content panel-body">

            <div id="Ehalsa" class="tab-pane fade in active">

                @{ Html.RenderAction("GetPostsPartial", "Blog", new { posts = Model.AllPosts.Where(x => x.PostType.Id == 5).ToList() }); }

            </div>
            <div id="ElectronicGoverment" class="tab-pane fade">

                @{ Html.RenderAction("GetPostsPartial", "Blog", new { posts = Model.AllPosts.Where(x => x.PostType.Id == 6).ToList() }); }

            </div>
            <div id="Ict" class="tab-pane fade">

                @{ Html.RenderAction("GetPostsPartial", "Blog", new { posts = Model.AllPosts.Where(x => x.PostType.Id == 7).ToList() }); }

            </div>
            <div id="Itsakerhet" class="tab-pane fade">

                @{ Html.RenderAction("GetPostsPartial", "Blog", new { posts = Model.AllPosts.Where(x => x.PostType.Id == 8).ToList() }); }

            </div>
            <div id="Itlarande" class="tab-pane fade">

                @{ Html.RenderAction("GetPostsPartial", "Blog", new { posts = Model.AllPosts.Where(x => x.PostType.Id == 9).ToList() }); }

            </div>
            <div id="Sysutveckling" class="tab-pane fade">

                @{ Html.RenderAction("GetPostsPartial", "Blog", new { posts = Model.AllPosts.Where(x => x.PostType.Id == 10).ToList() }); }

            </div>
        </div>
    </div>
</div>