@using InformationsSystemOru.Extensions
@model InformationsSystemOru.Models.MeetingModel

@{
    ViewBag.Title = "Meeting " + Model.Meeting.Date;
    Layout = User.Identity.IsAdmin() ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="well well-sm">
            @Html.Label("GiveInvite", "Invite to meeting.")
            @Html.DropDownListFor(model => model.AllUsers, new SelectList(Model.AllUsers), "Choose a user", new { @class = "form-control" })

            @Html.Label("RemoveInvite", "Remove invitation from user.")
            @Html.DropDownListFor(model => model.InvitedUsers, new SelectList(Model.InvitedUsers), "Choose a user", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2"></div>
</div>