@model InformationsSystemOru.Models.HandleAccessModel
@{
    ViewBag.Title = "HandleAccess";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Handle Access</h2>

@Html.DropDownList("UsersWithoutAccess", new SelectList(Model.UsersWithoutAccess), "Choose a user")
@Html.DropDownList("UsersWithAccess", new SelectList(Model.UsersWithoutAccess), "Choose a user")
