@model InformationsSystemOru.Models.HandleAccessModel
@{
    ViewBag.Title = "HandleAccess";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Handle Access</h2>

@Html.DropDownList("Användare", new SelectList(Model.Users), "Välj en användare")
