@model InformationsSystemOru.Models.CreateModel
@{
    ViewBag.Title = "Create";
}

<h2>Lägg till ny anändare</h2>

<div class="well well-lg">
    <div class="form-horizontal" style="margin-left: 25%;">
        <h4>Fyll i din information här</h4>
        <hr />
    </div>
</div>