@model InformationsSystemOru.Models.BlogModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}

<h2>Profile</h2>

<div id="Wall">

@using (Html.BeginForm("SaveThePost", "Profile"))
{
    @Html.Label("Write a blog post")
    <br/>

    @Html.TextBoxFor(model => model.Title, "TitleInput")
    ;
    <br/>
    @Html.TextBoxFor(model => model.Category, "Kategori")
    ;
    <br/>
    @Html.TextAreaFor(model => model.Text, "WallInputText")
    ;

    <input type="submit" value="Post" id="btnSend"/>
}
</div>

